qt_widgets/Debug/*
qt_widgets/release/*
qt_widgets/image/*
qt_widgets/*.user
qt_widgets/*.Debug
qt_widgets/*.Release
untitled/Debug/*
untitled/release/*
untitled/*.user
untitled/*.Debug
untitled/*.Release